@model PagedList.IPagedList<ShopOnConnection.SanPham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="~/Asset/img/@item.HinhChinh" alt="">
                        </div>
                        <h2><a href="@Url.Action("Details", "Shop", new { id = item.MaSanPham })">@item.TenSanPham</a></h2>
                        <div class="product-carousel-price">
                            <ins>@item.Gia VNĐ</ins> @*<del>$999.00</del>*@
                        </div>

                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        <ul class="pagination">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


