<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li><a href="#"><i class="fa fa-user"></i> Tài khoản</a></li>
                        <li><a href="#"><i class="fa fa-heart"></i> Danh sách</a></li>
                        <li><a href="~/Asset/cart.html"><i class="fa fa-user"></i> Giỏ hàng</a></li>
                        <li><a href="~/Asset/checkout.html"><i class="fa fa-user"></i> Thanh toán</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> Login</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="header-right">
                    <ul class="list-unstyled list-inline">
                        <li class="dropdown dropdown-small">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">Tiền tệ :</span><span class="value"> VNĐ </span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">VNĐ</a></li>
                                <li><a href="#">USD</a></li>
                            </ul>
                        </li>

                        <li class="dropdown dropdown-small">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">Ngôn ngữ :</span><span class="value"> Tiếng Việt </span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Tiếng Việt</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End header area -->

<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a href="./"><img src="~/Asset/img/Côc.png"></a></h1>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="shopping-item">
                    <a href="~/Asset/cart.html">Giỏ hàng <span class="cart-amunt">-10%</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">99+</span></a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End site branding area -->
